@import 'variables.css';

.alert{
    background-color: var(--div);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
} 

.alert>span{
    font-weight: bold;
}

.alert>ul{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    gap:50px;
}